<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title><%= title %></title>

    <meta name="description" content="map page"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/font-awesome.min.css"/>

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="/bower_components/leafletjs/dist/leaflet.css"/>
    <link rel="stylesheet" href="/bower_components/jPlayer/dist/skin/blue.monday/css/jplayer.blue.monday.min.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/bower_components/leafletjs/dist/leaflet-ie.css"/>
    <link rel="stylesheet" href="/bower_components/leafletjs/dist/locate-ie.css"/>
    <![endif]-->
    <link rel="stylesheet" href="/bower_components/leafletjs/dist/mobile.css"/>
    <link rel="stylesheet" href="/bower_components/leafletjs/dist/locate.css"/>

    <!-- text fonts -->
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/fonts.googleapis.com.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/ace.min.css" class="ace-main-stylesheet"
          id="main-ace-style"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/ace-part2.min.css" class="ace-main-stylesheet"/>
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/ace-skins.min.css"/>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/ace-rtl.min.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/ace-ie.min.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->
    <link rel="stylesheet" href="/stylesheets/customs/pages/application/map.css"/>

    <!-- baiduMap -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=SP7OgvYKT1ckrBIKLlvD4pB2"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="/javascripts/Ace_template_js/html5shiv.min.js"></script>
    <script src="/javascripts/Ace_template_js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="skin-hn">
<!-- template topNav -->
<div id="navbar" class="navbar navbar-default ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a href="/menu" class="navbar-brand">
                <!--<small>-->
                <!--<i class="fa fa-cloud"></i>-->
                <!--山西-吉兆 FM监听系统-->
                <!--</small>-->
                <img src="/images/customs/application/logo.png" alt=""/>
            </a>
        </div>

        <div class="navbar-header pull-left">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a><%= title %></a>
                </li>
            </ul>
        </div>


        <div class="navbar-buttons navbar-header pull-right" role="navigation">

            <% if (udata) { %>
            <ul class="nav ace-nav">
                <li class="dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<span class="user-info">
									<small>你好,</small>
									<%= udata.name %>
								</span>

                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#">
                                <i class="ace-icon fa fa-cog"></i>
                                设置
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <i class="ace-icon fa fa-user"></i>
                                个人信息
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="/logout">
                                <i class="ace-icon fa fa-power-off"></i>
                                注销
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <% } %>
        </div>

        <div class="navbar-header pull-right">
            <!-- MP3 Player -->
            <div class="m-MP3player player-music draggable" id="step10">
                <div class="subtitles-box">
                    <div class="subtitles Js_Mp3Info">
                        <div class="deviceName">[播放状态：暂停]</div>
                        <div class="deviceType">[数据来源：未知]</div>
                    </div>
                </div>

                <div class="">
                    <div id="monitorJplayer" class="jp-jplayer"></div>
                    <div id="jp_container_1" class="jp-audio" role="application"
                         aria-label="media player">
                        <div class="jp-type-single">
                            <div class="jp-gui jp-interface">
                                <div class="jp-controls">
                                    <button class="jp-play" role="button" tabindex="0">play</button>
                                    <button class="jp-stop" role="button" tabindex="0">stop</button>
                                </div>
                                <div class="jp-progress">
                                    <div class="jp-seek-bar">
                                        <div class="jp-play-bar"></div>
                                    </div>
                                </div>
                                <div class="jp-volume-controls">
                                    <button class="jp-mute" role="button" tabindex="0">mute</button>
                                    <button class="jp-volume-max" role="button" tabindex="0">max volume
                                    </button>
                                    <div class="jp-volume-bar">
                                        <div class="jp-volume-bar-value"></div>
                                    </div>
                                </div>
                                <div class="jp-time-holder">
                                    <div class="jp-current-time" role="timer" aria-label="time">
                                        &nbsp;</div>
                                    <div class="jp-duration" role="timer" aria-label="duration">
                                        &nbsp;</div>
                                    <div class="jp-toggles">
                                        <button class="jp-repeat" role="button" tabindex="0">repeat
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="jp-no-solution">
                                <span>Update Required</span>
                                To play the media you will need to either update your browser to a
                                recent
                                version or update your <a href="http://get.adobe.com/flashplayer/"
                                                          target="_blank">Flash plugin</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /MP3 Player -->
        </div>

    </div><!-- /template topNav -->
</div><!-- /template topNav -->


<div id="baiduMap" class="m-hunanMap"></div>

<div class="m-siteInfoWindow draggable">
    <div class="widget-box position-relative" id="widget-box-9">
        <div class="widget-header">
            <h5 class="widget-title">站点详细信息</h5>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="1 ace-icon fa fa-chevron-up bigger-125"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main" id="siteInfoWindow">
                <table class="table table-bordered no-margin-bottom Js_realTimeDataTabel"></table>
            </div>
            <button id="loadURL" class="btn btn-block btn-info btn-sm" type="button">
                <i class="ace-icon fa fa-play-circle bigger-110"></i>
                轮询监听
            </button>
        </div>
    </div>
</div>


<div class="m-ctrlBox draggable" id="mapSwitchBox">
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">地图控制</h4>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <div class="widget-box-overlay"><i class="fa fa-spinner fa-spin fa-3x fa-fw white"></i></div>
                <div class="control-group">
                    正在加载数据, 请稍后..
                </div>
            </div>
        </div>
    </div>
</div>

<div class="map-sidebar" style="">
    <span data-change="launch">图例:</span>
    <div id="launch">
        <button class="btn btn-success">
            正常
        </button>

        <button class="btn btn-gray">
            掉线
        </button>

        <button class="btn btn-warning">
            警告
        </button>

        <button class="btn btn-danger">
            异常
        </button>
    </div>
</div>

<!--<div class="m-deviceInfoBox" id="deviceInfoBox">-->
<!--<h3>正在加载数据, 请稍后..</h3>-->
<!--<ul>-->
<!--</ul>-->
<!--<div class="widget-box-overlay"><i class="fa fa-spinner fa-spin fa-3x fa-fw white"></i></div>-->
<!--</div>-->

<div class="navbar-fixed-bottom" role="navigation">
    <div> Copyright 2016 - 2017 All Rights Reserved Powered by 智和云</div>
</div>


<!-- basic scripts -->

<!--[if !IE]> -->
<script src="/javascripts/Ace_template_js/jquery-2.1.4.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="/javascripts/Ace_template_js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='/javascripts/Ace_template_js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="/javascripts/Ace_template_js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->
<script src="/javascripts/Ace_template_js/jquery-ui.custom.min.js"></script>
<script src="/javascripts/Ace_template_js/jquery.ui.touch-punch.min.js"></script>
<script src="/bower_components/socket.io/socket.io-1.4.5.js"></script>
<script src="/bower_components/jPlayer/dist/jplayer/jquery.jplayer.min.js"></script>

<!-- ace scripts -->
<script src="/javascripts/Ace_template_js/ace-elements.min.js"></script>
<script src="/javascripts/Ace_template_js/ace.min.js"></script>
<script src="/javascripts/Ace_template_js/jquery.cookie.js"></script>

<!-- inline scripts related to this page -->
<script src="/javascripts/customs/pages/application/baiduMap.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        var launch_bnt = $('[data-change=launch]');
        var launch = $("#launch");
        launch_bnt.on("click", function () {
            if (launch.css("width") == "0px") {
                launch.animate({width: "220px", height: "100%"}, 60);
            } else {
                launch.animate({width: "0px", height: "100%"}, 60);
            }
        });

        $(function () {
            $(".draggable").draggable();
        });

        var playMp3Str = '<%-RegisterTagIDStr%>';
        var loadURL = $("#loadURL");
        var url = playMp3Str;

        $("#monitorJplayer").jPlayer({
            ready: function () {
                $(this).jPlayer("setMedia", {
                    title: "Bubble",
                    mp3: url
                });
            },
            swfPath: "../../dist/jplayer",
            supplied: "mp3",
            wmode: "window",
            useStateClassSkin: true,
            autoBlur: false,
            smoothPlayBar: true,
            preload: "auto",
            keyEnabled: true,
            remainingDuration: true,
            toggleDuration: true
        });

        loadURL.click(function () {
            url = playMp3Str;
            $("#monitorJplayer").jPlayer("setMedia", {
                mp3: url
            });
            $("#monitorJplayer").jPlayer("play");
        });
    });


</script>
</body>
</html>