/* 去掉地图滚动条 */
body {
    overflow: hidden;
}

body,
html {
    width: 100%;
    height: 100%;
}

/* 去掉百度地图的logo */
.anchorBL {
    display: none;
}

.m-hunanMap {
    width: 100%;
    height: 100%;
}

.m-hunanMap .copyright {
    font-size: 11px;
    background: rgba(255, 255, 255, 0.7);
    margin: 0;
    color: #333;;
}

.m-hunanMap .copyright a {
    color: #0078A8;;
}

.m-siteInfoWindow {
    position: absolute;
    left: 50px;
    top: 220px;
    width: 500px;
}

.m-ctrlBox{
    position: absolute;
    right: 50px;
    top: 220px;
    width: 200px;
}

.m-deviceInfoBox{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: rgba(8,48,74,.8);
    z-index: 1024;
    overflow-x: hidden;
    overflow-y: auto;
}

.m-deviceInfoBox h3{
    margin: 6px 12px;
    color: #fff;
}

.m-deviceInfoBox li{
    min-width: 200px;
    color: #fff;
}